*{
	padding: 0px;
	margin: 0px;
}
.bgimage{
background-size: 100% 100%;
height: 100vh;
width: 100%;
 }

 .menu{
 	width: 100%;
 	height: 100px;
 	background-color: rgba(0,0,0,0.5);
 }
 .leftlogo{
 	color: white;
 	float: left;
 	width: 25%;
 	font-size: 35px;
 	line-height: 80px;
 }
 .rigthmenu{
 	width: 75%;
 	float: right;
 }
 .rightmenu ul li {
 	font-size: 36px;
 	padding: 20px;
 	color: white;
 	float: left;
 	list-style: none;

 }
 .text{
 	width: 100%;
 	margin-top: 185px;
 	text-transform: uppercase;
 	text-align: center;
 	color: white;	
 }
 .text h1{
 	font-weight: bold;
 	font-size: 50px;
 	margin: 50px 0px;
 }
  #one{
  	line-height: 40px;
  	border: none;
  	background-color: white;
  	font-weight: bold;
  	width: 80px;
  	text-transform: uppercase;

  }
  #two{
  	line-height: 40px;
  	border: none;
  	background-color: white;
  	font-weight: bold;
  	width: 80px;
  	text-transform: uppercase;
  	background-color: transparent;
  	border:2px solid white;
  	color: white;

  }
  .button{
  	margin: 50px 0px;
  }
.rightmenu ul li a:hover{ color: red;
	text-decoration: none;

}
.rightmenu ul li a{
	text-decoration: none;
	color: white;
}
button:hover{
	cursor: pointer;
}